/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-color: #FF8DCB;
  --backgroung-color: white;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
  --shadow-color: #FF0070;
  --button-color: #353430;
  --section-title-color: #353430;
  --section-paragraph-title-color: #353430;
  --border-hover: rgba(50, 49, 45, 0.4);
  --background-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --backgroung-color: white;
    --title-color: #FFC2E6;
    --main-text-color: #353430;
    --shadow-color: #FF0070;
    --button-color: #353430;
    --section-title-color: #353430;
    --section-paragraph-title-color: #353430;
    --border-hover: rgba(50, 49, 45, 0.4);
    --background-img: url(../images/cover-image-light.png);
    }

    .decoration-top {
      display: none;
    }

    .header__theme-menu-button_type_light {
      outline: 1px solid var(--button-color);
    }

    .header__theme-menu-button_type_dark {
      outline: none;
    }

    .header__theme-menu-button_type_auto {
      outline: none;
    }
}

.theme_light .decoration-top {
  display: none;
}