/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-color: #FF8DCB;
  --backgroung-color: white;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
  --shadow-color: #FF0070;
  --background-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --backgroung-color: white;
    --title-color: #FFC2E6;
    --main-text-color: #353430;
    --shadown-color: #FF0070;
    --background-img: url(../images/cover-image-light.png);
    }
}

.theme_light .decorated-zone::before {
  border: 1px solid var(--main-text-color);
  border-left: none;
  border-bottom: none;
}

.theme_light .decorated-zone::after {
  border: 1px solid var(--main-text-color);
  border-right: none;
  border-top: none;
}

.theme_light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--main-text-color);
}

.theme_light .page {
  background-image: var(--background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.theme_light .decoration-top {
  display: none;
}

.theme_light .header__paragraph-text {
  color: var(--main-text-color);
}

.theme_light .section__title {
  color: var(--main-text-color);
}

.theme_light .section__title-paragraph {
  color: var(--main-text-color);
}

.theme_light .section__title-paragraph-regular {
  color: var(--main-text-color);
}