/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --accent-color: #FF0070;
  --backgroung-color: #000028;
  --title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --shadow-color: #FF0070;
  --background-img: url(../images/cover-image-dark.png);
  --button-color: #FF0070;
  --section-title-color: #FF0070;
  --section-paragraph-title-color: #000028;
}
